main {
    font-weight: 600;
}
main p{
    text-indent: 2rem;
}
h1, h2, h3{
    text-align: left;
}
h2#titulo-primeira-aula{
    text-decoration: overline;
}
h2#titulo-segunda-aula{
    letter-spacing: 1rem;
}
p{
    text-transform: uppercase;
}
a:active{
    color: green;
    cursor: help;
}
a:visited{
    color: blue;
}
html{
    color: rgba(200, 200, 200, 1);
}
html{
color: #f38d08;
background-color: black;
background-image: url("./cachorros-com-livro-aberto-um-cachorro-em-uma-gravata-vermelha-e-óculos-está-segurando-lendo-o-fundo-branco-isolado-198155037.jpg");
background-repeat: no-repeat;
height: 100vh;
background-position: center;
background-size: cover;
}
/*main{
    background-color: #fff;
}
.titulo-aula{
 background-color: chartreuse;
}
h1{
    color: black;
}
main h1{
    color: red;
}
h2{
    color: green;
}
p{
    color: yellowgreen;
}
.titulo-aula{
    text-decoration: underline;
}
.texto-azul{
    color: blue;
}
.texto-vermelho{
    color: red;
}
#titulo-primeira-aula{
    text-decoration: underline;
} 
#titulo-segunda-aula{
    color: brown;
}
.texto-vermelho .comentario{
    color: blue;
}
.comentario{
    color: red;
}*/